---
import FrontPage from '../layouts/FrontPage.astro';
import Layout from '../layouts/Layout.astro';
import Technologies from '../layouts/Technologies.astro';
---

<Layout>
	<div class="max-w-7xl w-4/5 m-auto mt-14">
		<FrontPage />

		<Technologies />
	</div>
</Layout>

<style>
	
</style>
