---
import Layout from '../layouts/Layout.astro';

import FrontPage from '../layouts/FrontPage.astro';
import About from '../layouts/About.astro';
import Experience from '../layouts/Experience.astro';
import Projects from '../layouts/Projects.astro';
import Education from '../layouts/Education.astro';
import Technologies from '../layouts/Technologies.astro';
import Contact from '../layouts/Contact.astro';
---

<Layout>
	<div class="max-w-7xl w-4/5 m-auto mt-14">
		<FrontPage />

		<About />

		<Experience />

		<Projects />
		
		<Education />

		<Technologies />

		<Contact />
	</div>
</Layout>

<style>
	
</style>
