<div>
    <h2 class="text-4xl md:text-5xl font-bold text-center mb-20 mt-20">About Me</h2>
    
    <div class="max-w-[1100px] mx-auto text-center">

        <p class="text-lg md:text-xl">My name is Karim Biscaiburo, born on 08/28/2002 in Santa Cruz, Rio Gallegos, Argentina, but currently residing in Mar del Plata, Buenos Aires, Argentina. I am eager to pursue opportunities that allow me to develop my professional skills and contribute effectively to solving a wide range of challenges.</p> <br>

        <p class="text-lg md:text-xl">During my last year of high school, and the pandemic, I began to venture into the world of web development and programming, learning about algorithms and the logic that they entail.</p> <br>

        <p class="text-lg md:text-xl">I consider myself a very productive, detailed and organized person. I like to pay attention to every detail so that it is as perfect as possible, planning it for a better resolution. I can quickly join a work team and its methodologies thanks to the fact that I pay a lot of attention and adapt quickly.</p> <br>

        <p class="text-lg md:text-xl">I am passionate about learning new things, so my goal is to gain as much experience as I can to grow professionally and personally. I want to become a very cultured and dedicated person in the area, so it is also of my interest to develop my individual and group capabilities, acquiring the ability to work with different work methodologies.</p> <br>
    </div>
</div>


