---
import NavLink from "../components/NavLink.astro";


---

<header class="bg-nav_background sticky top-0 backdrop-blur z-50">
    <nav class="p-5">
        <ul class="flex gap-3 min-[550px]:gap-6 min-[700px]:gap-10 lg:gap-16 justify-center">

            <NavLink text="About" ref="#about" />
            <NavLink text="Experience" ref="#experience" />
            <NavLink text="Projects" ref="#projects" />
            <NavLink text="Education" ref="#education" />
            <NavLink text="Contact" ref="#contact" />

            </li>
        </ul>
    </nav>
</header>