---

---

<header class="bg-nav_background sticky top-0 backdrop-blur">
    <nav class="p-5">
        <ul class="flex gap-16 justify-center">
            <li class="text-3xl hover:text-cian transition ease-in-out duration-150">
                <a href="#about">About</a>
            </li>
            <li class="text-3xl hover:text-cian transition ease-in-out duration-150">
                <a href="#experience">Experience</a>
            </li>
            <li class="text-3xl hover:text-cian transition ease-in-out duration-150">
                <a href="#projects">Projects</a>
            </li>
            <li class="text-3xl hover:text-cian transition ease-in-out duration-150">
                <a href="#education">Education</a>
            </li>
            <li class="text-3xl hover:text-cian transition ease-in-out duration-150">
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>